<agm-map [latitude]="mapLatLng.lat" [longitude]="mapLatLng.lng" [zoom]="zoomLevel">

    <agm-data-layer 
        *ngIf="(displayDataLayer === true) && routesGeoJson" 
        [geoJson]="routesGeoJson" [style]="routeDefaultStyle" 
        (layerClick)="routeClicked($event)" 
        #routesDataDirective
    ></agm-data-layer>

    <agm-marker 
        *ngFor="let pin of (pins$ | async)?.concat(additionalPins)"
        [latitude]="pin.location.lat" 
        [longitude]="pin.location.lng" 
        [label]="pin.type.charAt(0)"
        (markerClick)="pinSelected(pin)"
    ></agm-marker>

    <agm-snazzy-info-window 
        [padding]="'10px'" 
        (afterClose)="closeInfoWindow()" 
        [closeOnMapClick]="false" 
        [isOpen]="infoWindow.isOpen" 
        [latitude]="infoWindow.lat" 
        [longitude]="infoWindow.lng" 
        [closeWhenOthersOpen]="true"
        [maxWidth]="300"
    >
        <ng-template>
            <div class="">პინის დამატება</div>
            <div class="mt-2">
                <ng-container *ngFor="let type of availablePinTypes">
                    <button class="btn btn-sm btn-danger me-1" (click)="addPin(type)">{{type.toString().charAt(0)}}</button>
                </ng-container>
            </div>
        </ng-template>
    </agm-snazzy-info-window>

</agm-map>

<div class="position-absolute start-0 top-0" style="width:fit-content">
    <button (click)="changeDataLayer(adjara)">აჭარა-გურია</button>
    <button (click)="changeDataLayer(tbilisi)">თბილისი</button>
    <button (click)="changeDataLayer(all)">ყველა მარშრუტი</button>
    <br>

    <div class="border p-1 rounded bg-light" style="width: 200px;" *ngIf="selectedFeature">
        <h4 class="text-center mb-0">ფილტრი</h4>
        <hr class="mx-4 my-1">
        <div class="text-center">
            <ng-container *ngFor="let type of availablePinTypes">
                <span style="cursor:pointer;" (click)="filterBy(type)" class="me-1 badge  bg-secondary">{{type}}</span>
            </ng-container>
            <span style="cursor:pointer;" (click)="removeFilters()" class="me-1 badge  bg-secondary">X</span>
        </div>
        <br>
        <button (click)="showDetails()">მარშრუტის აღწერა</button>
        <button (click)="showDiscussion()">დისკუსია</button>
    </div>
</div>
