<div *ngIf="loadingDataLayer || firstLoading" 
    class="position-absolute start-0 top-0 w-100 h-100 d-flex align-items-center justify-content-center" 
    style="background-color:rgba(0, 0, 0, 0.226);z-index: 1000;"
>
    <span style="width: 500px;" role="status">
        <app-logo-animation></app-logo-animation>
    </span>
</div>

<agm-map class="h-100-after-navbar" [latitude]="mapLatLng.lat" [longitude]="mapLatLng.lng" [zoom]="zoomLevel">

    <agm-data-layer 
        *ngIf="(displayDataLayer === true) && routesGeoJson" 
        [geoJson]="routesGeoJson" [style]="routeDefaultStyle" 
        (layerClick)="routeClicked($event)" 
        #routesDataDirective
    ></agm-data-layer>

    <agm-marker 
        *ngFor="let pin of (pins$ | async)?.concat(additionalPins)"
        [latitude]="pin.location.lat" 
        [longitude]="pin.location.lng" 
        [iconUrl]="getMarkerIcon(pin.type)"
        (markerClick)="pinSelected(pin)"
    ></agm-marker>

    <agm-snazzy-info-window 
        [padding]="'10px'" 
        (afterClose)="closeInfoWindow()" 
        [closeOnMapClick]="false" 
        [isOpen]="infoWindow.isOpen" 
        [latitude]="infoWindow.lat" 
        [longitude]="infoWindow.lng" 
        [closeWhenOthersOpen]="true"
        [maxWidth]="300"
    >
        <ng-template>
            <div class="">პინის დამატება</div>
            <div class="mt-2">
                <ng-container *ngFor="let type of availablePinTypes">
                    <div class="btn-group btn-group-sm">
                        <button class="btn" (click)="addPin(type)">
                            <img class="img img-fluid" src="{{getMarkerIcon(type)}}" style="max-height: 30px;">
                        </button>
                    </div>
                </ng-container>
            </div>
        </ng-template>
    </agm-snazzy-info-window>

</agm-map>

<div class="position-absolute start-0 top-0 p-2 d-flex" style="width:fit-content;pointer-events: none;">

    <div class="maps-params-menu" style="width: 400px;pointer-events: none;">
        <select class="form-select shadow" (change)="changeDataLayer(routesFilter.value)"  #routesFilter>
            <option selected disabled hidden value="">მარშრუტები რეგიონების მიხედვით</option>
            <option value="{{ routeFiles.ROUTES_ADJARA_GURIA }}">აჭარა-გურია</option>
            <option value="{{ routeFiles.ROUTES_IMERETI }}">იმერეთი</option>
            <option value="{{ routeFiles.ROUTES_KAXETI }}">კახეთი</option>
            <option value="{{ routeFiles.ROUTES_QVEMO_SHIDA_QARTLI }}">ქვემო და შიდა ქართლი</option>
            <option value="{{ routeFiles.ROUTES_MCXETA_MTIANETI }}">მცხეთა-მთიანეთი</option>
            <option value="{{ routeFiles.ROUTES_RACHA_LECHXUMI_QVEMO_SVANETI }}">რაჭა-ლეჩხუმი და ქვემო სვანეთი</option>
            <option value="{{ routeFiles.ROUTES_SAMCXE_JAVAKHETI }}">სამცხე-ჯავახეთი</option>
            <option value="{{ routeFiles.ROUTES_SAMEGRELO_ZEMO_SVANETI }}">სამეგრელო და ზემო სვანეთი</option>
            <option value="{{ routeFiles.ROUTES_TBILISI }}">თბილისი</option>
            <option value="{{ routeFiles.ROUTES_ADVANCED }}">რთული მარშრუტები</option>
            <option value="{{ routeFiles.ROUTES_ALL }}">ყველა მარშრუტი</option>
        </select>

        <div
            (mouseenter) ="searchBtnHovered = true" 
            (mouseleave) ="searchBtnHovered = false" 
            (click)="searchClicked = true;closeFilterMenu()"
            class="mt-2 p-2 growing-button-shadow growing-button{{ searchClicked ? '-clicked' : '' }} d-flex align-items-center justify-content-center text-white"
            style="border-bottom-left-radius: 25px;border-bottom-right-radius: 25px;"
        >
            <fa-icon [icon]="searchIcon"></fa-icon>
            <span *ngIf="searchBtnHovered && searchClicked === false" class="ms-1 growing-button-text">ძიება</span>
            <input *ngIf="searchClicked === true" type="text" 
                (click)="enableMapSearch(search)" class="ms-3 form-control" (keydown.enter)="$event.preventDefault()" placeholder="ლოკაციის ძიება" 
                autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search
            >
            <span *ngIf="searchClicked" class="mx-2 text-end text-white">
                <span (click)="closeSearch();$event.stopPropagation()" style="flex-grow: 1;cursor: pointer;">
                    <fa-icon [icon]="closeIcon"></fa-icon>
                </span>
            </span>
        </div>

    
        <div *ngIf="selectedFeature"
            (mouseenter) ="!pinsFilterMenuOn ? filterHovered = true : undefined" 
            (mouseleave) ="!pinsFilterMenuOn ? filterHovered = false : undefined" 
            (click)="filterClicked();closeSearch()"
            class="mt-2 p-3 growing-button-shadow growing-button{{ pinsFilterMenuOn ? '-clicked' : '' }} d-flex align-items-center justify-content-center text-white" 
        >
            <fa-icon [icon]="filterIcon"></fa-icon>
            <span *ngIf="filterHovered || pinsFilterMenuOn" class="ms-1 growing-button-text">ფილტრი</span>
            <span *ngIf="pinsFilterMenuOn" style="flex-grow: 1;" class="w-100 text-end text-white">
                <span (click)="closeFilterMenu();$event.stopPropagation()" style="flex-grow: 1;cursor: pointer;">
                    <fa-icon [icon]="closeIcon"></fa-icon>
                </span>
            </span>
        </div>
    
        <div 
            *ngIf="pinsFilterMenuOn && selectedFeature" 
            class="px-3 bg-white filter-menu shadow" 
            style="width: 100%; height: 300px;border-bottom-left-radius: 25px;border-bottom-right-radius: 25px;"
        >
            <div class="h-100" style="max-height: 100%;overflow: hidden;">

                <div class="border rounded mt-3 p-3 position-relative filter-menu-box">
                    <div class="position-absolute start-50 top-0 translate-middle bg-white px-2 text-secondary">კატეგორიება</div>
                    <div class="row g-2">
                        <div class="col-11">
                            <select class="form-select" (change)="typeSelect.value === '' ? removeTypeFilters() : filterByType(typeSelect.value)" #typeSelect>
                                <option [selected]="pinTypeFilter() === undefined" value="">ყველა</option>
                                <option [selected]="pinTypeFilter()?.compareValue == type" *ngFor="let type of availablePinTypes" value="{{type}}">{{pinTypeInGeorgian(type)}}</option>
                            </select>
                        </div>
                        <div class="col-1 d-flex align-items-center justify-content-center">
                            <img *ngIf="typeSelect.value === ''" src="assets/img/empty-marker.png"  style="max-width:100%;height:auto">
                            <img *ngIf="typeSelect.value !== ''" class="img img-fluid" src="{{getMarkerIcon(typeSelect.value)}}" style="max-width:100%;">
                        </div>
                    </div>
                </div>

                <div class="border rounded mt-3 p-3 position-relative filter-menu-box">
                    <div class="position-absolute start-50 top-0 translate-middle bg-white px-2 text-secondary">სორტირება</div>
                    <div class="btn-group w-100">
                        <input (click)="sortByRating()" type="radio" class="btn-check" name="sortingRadio" id="byRating" autocomplete="off">
                        <label  class="btn btn-main{{ pinSorting === undefined ? '' : '-outline' }} shadow-none" for="byRating">რეიტინგით</label>

                        <input (click)="sortByDate()" type="radio" class="btn-check" name="sortingRadio" id="byCreateDate" autocomplete="off">
                        <label class="btn btn-main{{ pinSorting?.fieldName === 'createdAt' ? '' : '-outline' }} shadow-none" for="byCreateDate">სიახლით</label>
                    </div>
                </div>

                <div class="border rounded mt-3 p-3 position-relative filter-menu-box">
                    <div class="position-absolute start-50 top-0 translate-middle bg-white px-2 text-secondary">დამატების პერიოდი</div>
                    <div class="btn-group btn-group-sm w-100" >
                        <input (click)="filterPinsForLastWeek();selectedDateFilter = lastWeek.id" type="radio" class="btn-check" name="dateFilterRadio" id="weekFilter" autocomplete="off" #lastWeek>
                        <label  class="btn btn-main{{ selectedDateFilter === lastWeek.id ? '' : '-outline' }} shadow-none" for="weekFilter">ბოლო კვირა</label>

                        <input (click)="filterPinsForLastMonth();selectedDateFilter = lastMonth.id" type="radio" class="btn-check" name="dateFilterRadio" id="monthFilter" autocomplete="off" #lastMonth>
                        <label class="btn btn-main{{ selectedDateFilter === lastMonth.id ? '' : '-outline' }} shadow-none" for="monthFilter">ბოლო თვე</label>

                        <input (click)="filterPinsForLastYear();selectedDateFilter = lastYear.id" type="radio" class="btn-check" name="dateFilterRadio" id="yearFilter" autocomplete="off" #lastYear>
                        <label class="btn btn-main{{ selectedDateFilter === lastYear.id ? '' : '-outline' }} shadow-none" for="yearFilter">ბოლო წელი</label>

                        <input (click)="removeDateFilter();selectedDateFilter = undefined" type="radio" class="btn-check" name="dateFilterRadio" id="removeYearFilter" autocomplete="off">
                        <label class="btn btn-main{{ selectedDateFilter === undefined ? '' : '-outline' }} shadow-none" for="removeYearFilter">სულ</label>
                    </div>
                </div>

            </div>
        </div>

        <div *ngIf="selectedFeature"
            (mouseenter) ="detailsBtnHovered = true" 
            (mouseleave) ="detailsBtnHovered = false" 
            (click)="showDetails();closeFilterMenu();closeSearch()"
            class="mt-2 growing-button-shadow growing-button d-flex align-items-center justify-content-center text-white" 
        >
            <fa-icon [icon]="infoIcon"></fa-icon>
            <span *ngIf="detailsBtnHovered" class="ms-1 growing-button-text">აღწერა</span>
        </div>

        <div *ngIf="selectedFeature"
            (mouseenter) ="discussionBtnHovered = true" 
            (mouseleave) ="discussionBtnHovered = false" 
            (click)="showDiscussion();closeFilterMenu();closeSearch()"
            class="mt-2 growing-button-shadow growing-button d-flex align-items-center justify-content-center text-white" 
        >
            <fa-icon [icon]="discussionIcon"></fa-icon>
            <span *ngIf="discussionBtnHovered" class="ms-1 growing-button-text">დისკუსია</span>
        </div>
    </div>

</div>

<div class="position-absolute start-50 translate-middle-x p-2 d-flex pins-pagination" style="width:fit-content;pointer-events: none;">
    <div class="maps-params-menu d-flex justify-content-center">

        <div *ngIf="selectedFeature"
            (mouseenter) ="prevBtnHovered = true" 
            (mouseleave) ="prevBtnHovered = false" 
            (click) = "getPinsPreviousPage()"
            class="growing-button-shadow growing-button-sm d-flex align-items-center justify-content-center text-white me-1" 
        >
            <fa-icon [icon]="previousIcon"></fa-icon>
            <span *ngIf="prevBtnHovered" class="ms-1 growing-button-text">წინა პინები</span>
        </div>

        <div *ngIf="selectedFeature"
            (mouseenter) ="nextBtnHovered = true" 
            (mouseleave) ="nextBtnHovered = false" 
            (click) = "getPinsNextPage()"
            class="growing-button-shadow growing-button-sm growing-button-long d-flex align-items-center justify-content-center text-white ms-1" 
        >
            <span *ngIf="nextBtnHovered" class="me-1 growing-button-text">შემდეგი პინები</span>
            <fa-icon [icon]="nextIcon"></fa-icon>
        </div>
        
    </div>
</div>