<span ngbDropdown placement="{{placement}}">
    <button class="btn btn-sm btn-{{backgroundColor ? backgroundColor : 'light'}} dropdown-toggle" ngbDropdownToggle>
        <fa-icon [icon]="barsIcon"></fa-icon>
    </button>

    <ul class="dropdown-menu1" ngbDropdownMenu>
        <li *ngIf="hasFullRights() && !contentIsActive" ngbDropdownItem><button (click)="activate()" class="dropdown-item" type="button">აქტივაცია</button></li>
        <li *ngIf="hasFullRights() && contentIsActive" ngbDropdownItem><button (click)="remove()" class="dropdown-item" type="button">წაშლა</button></li>
        <li *ngIf="isCreator() && contentIsActive" ngbDropdownItem><button (click)="editMode()" class="dropdown-item" type="button">რედაქტირება</button></li>
        <li *ngIf="isPin() && contentIsActive && !isCreator()" ngbDropdownItem><button (click)="markIrrelevant()" class="dropdown-item" type="button">არააქტუალურია</button></li>
        <li *ngIf="canReport()" ngbDropdownItem><button (click)="report()" class="dropdown-item">დარეპორტება</button></li>
    </ul>
</span>