<div class="modal-header">
    <h4 class="modal-title">რეპორტი</h4>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label class="mb-1" for="reason-selector">აირჩიეთ რეპორტის მიზეზი</label>
      <select class="form-select" id="reason-selector" [(ngModel)]="selectedReason" required>
        <option selected></option>
        <option *ngFor="let reason of reportReasons" [value]="reason">{{reason}}</option>
      </select>
      <small id="reason-selector-error" class="text-danger"></small>
    </div>
  </div>
  <div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="tryToReport()">დარეპორტება</button>
    <button type="button" class="btn btn-secondary" (click)="activeModal.close(undefined)">დახურვა</button>
  </div>