<div *ngFor="let reply of comment.responsesPreview">
    <div class="row gx-2">
        <div class="col-1 border-end border-dark" ></div>
        <div class="col-11">
            <div class="row gx-2">
                <div class="col-1">
                    <img src="assets/img/avatar.jpg" alt="" style="max-width: 100%;height: auto;" class="rounded-circle img-fluid">
                </div>
                <div class="col-9">
                    <div class="">
                        <h5 class="d-inline me-2">{{ reply.author | fullname }}</h5> <small>{{reply.createdAt.toJSON()}}</small>
                        <p *ngIf="!isEditable(reply)" class="mb-0">
                            <small><span class="badge rounded-pill bg-secondary"><u>@{{comment.author | fullname}}</u></span></small> 
                            {{reply.text}}
                        </p>
                        <form *ngIf="isEditable(reply)" onsubmit="return false" [formGroup]="editCommentForm" (ngSubmit)="updateComment()">
                            <div class="input-group mb-3">
                                <textarea required formControlName="newText" class="form-control" style="resize: none;" rows="2" [ngModel]="reply.text"></textarea>
                                <button type="submit" [disabled]="!editCommentForm.valid || !canUpdate()" class="btn btn-secondary"><fa-icon [icon]="editIcon"></fa-icon></button>
                            </div>
                        </form>
                    </div>
                    <div class="btn-group-sm" role="group">
                        <button class="btn btn-sm btn-link mb-2 text-secondary px-0 me-2" (click)="showReplyForm(reply)">პასუხი</button>
                        <button class="btn btn-sm btn-link mb-2 text-secondary px-0" *ngIf="reply.responseNumber > reply.responsesPreview.length" (click)="gerRepliesForReply(reply)">მეტი პასუხი</button>
                    </div>
                    <div class="mb-2" *ngIf="selectedCommentForReply?.id === reply.id">
                        <form onsubmit="return false" [formGroup]="replyForm" (ngSubmit)="replyToComment()">
                            <div class="row g-1">
                                <div class="col-sm-10 form-group">
                                    <textarea required formControlName="replyText" class="form-control" style="resize: none;" rows="1" placeholder="თქვენი პასუხი..."></textarea>
                                </div>
                            
                                <div class="col-sm-2 form-group">
                                    <button type="submit" [disabled]="!replyForm.valid" class="btn btn-primary" style="height: 100%; width: 100%;"><fa-icon [icon]="sendIcon"></fa-icon></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-1">
                    <app-rating 
                        [size]="ratingSize"
                        [contentId]="reply.id"
                        [ratingValue]="reply.rating.totalRating"
                        [service]="commentsService"
                        [userVoteDirection]="reply.userVoteDirection"
                    ></app-rating>
                </div>
                <div class="col-1">
                    <app-content-control-menu
                        *ngIf = "!isEditable(reply)"
                        [placement] = "controlMenuPlacement"
                        [contentType] = "commentContentType"
                        [contentId] = "reply.id"
                        [contentCreatorId] = "reply.author.id"
                        [contentIsActive] = "reply.isActive"
                        [service] = "commentsService"
                        (editContentEvent) = "enterEditMode(reply)"
                    ></app-content-control-menu>
                    <button *ngIf = "isEditable(reply)" class="btn btn-sm btn-light m-1" (click)="exitEditMode()">
                        <fa-icon [icon]="closeIcon"></fa-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="row gx-2" *ngIf="showReplies">
        <div *ngIf="level < MAX_LEVEL" class="col-1" ></div>
        <div class="col">
            <app-comment-replies [comment]="reply" [level]="level+1"></app-comment-replies>
        </div>
    </div>
</div>
