<nav class="navbar navbar-expand-lg navbar-dark text-white" style="background-color: #ec004b">
    <div class="container-fluid">
      <a class="navbar-brand ms-1" href="/">
        <img src="assets/svg/logo-no-text.svg" class="img img-fluid" style="height: 40px;">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="isCollapsed">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/" #mainPageLink>მთავარი</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user-page" #registerLink>პროფილი</a>
          </li>
        </ul>

        <ul *ngIf="loggedInUser()" class="navbar-nav mb-2 mb-lg-0 me-3" id="bellbtn" display="dynamic" placement='bottom-right' ngbDropdown #notificationsDropdown="ngbDropdown" >
          <li class="nav-item dropdown">
              <a (click)="notificationsSeen()" class="nav-link" href="javascript:void(0)" id="navbarDropdownNot" role="button" data-bs-toggle="dropdown" aria-expanded="false" ngbDropdownToggle>
                <span class="position-relative">
                  <fa-icon class="me-1" [icon]="notificationsIcon"></fa-icon>
                  <small class="position-absolute start-100 top-0 translate-middle">
                    <span *ngIf="unseenNotificationsCount() > 0" class="badge bg-secondary">{{unseenNotificationsCount()}}</span>
                  </small>
                </span>  
              </a>
              <ul class="dropdown-menu overflow-auto" style="width: 400px;max-height: 75vh;" aria-labelledby="navbarDropdownNot" ngbDropdownMenu>

                  <div class="p-2 w-100 h-100">
                    <div *ngFor="let notification of orderByStatus(notifications || [])" (click)="notificationClicked(notification);notificationsDropdown.close()" class="notification w-100 p-3 border-bottom w-100 mb-0 d-flex align-items-center" style="cursor: pointer;max-width: 100%;">

                      <span class="me-2">
                        <h3>
                          <fa-icon class="text-dark" [icon]="notificationTypeIcons.get(notification.type)!"></fa-icon>
                        </h3>
                      </span>

                      <span class="mx-2 {{notification.status === notificationStatus.OPENED ? 'text-secondary' : ''}}" style="flex-grow: 1;word-wrap: break-word;">
                        {{notification.text}} <br>
                        <small class="text-main">{{notification.createdAt}}</small>
                      </span>

                      <small>
                        <fa-icon *ngIf="notification.status !== notificationStatus.OPENED " class="text-main" [icon]="newNotificationIcon"></fa-icon>
                      </small>

                    </div>
                    <div class="d-block text-center mt-3">
                      <a class="text-main" href="javascript:void(0)">მეტის ჩატვირთვა</a>
                    </div>
                  </div>

              </ul>
          </li>
        </ul>

        <ul *ngIf="loggedInUser()" class="navbar-nav mb-2 mb-lg-0" display="dynamic" ngbDropdown >
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" ngbDropdownToggle>
                    <fa-icon class="me-1" [icon]="userIcon"></fa-icon>
                    {{loggedInUser()! | fullname}}
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown" ngbDropdownMenu #dropdownMenu>
                    <li ngbDropdownItem><a class="dropdown-item" href="/edit-user"><fa-icon class="me-1" [icon]="cogIcon"></fa-icon> პროფილის რედაქტირება</a></li>
                    <li (click)="logOut(dropdownMenu)" ngbDropdownItem><a class="dropdown-item" href="javascript:void(0)"><fa-icon class="me-1" [icon]="logOutIcon"></fa-icon> გამოსვლა</a></li>
                </ul>
            </li>
        </ul>

        <ul *ngIf="!loggedInUser()" class="navbar-nav mb-2 mb-lg-0" display="dynamic" ngbDropdown >
          <li class="nav-item">
            <a class="nav-link" href="/log-in" #registerLink>
              <fa-icon [icon]="logInIcon"></fa-icon> ავტორიზაცია
            </a>
          </li>
        </ul>

      </div>
    </div>
</nav>