@font-face {
    font-family: dejavu-sans;
    src: url(assets\fonts\bpg_dejavu_sans.ttf) format("opentype");
}

@font-face {
    font-family: nino-mtavruli;
    src: url(assets\fonts\bpg_extrasquare_mtavruli.ttf) format("opentype");
}

.h-100-after-navbar {
    height: calc(100vh - 60px)
}

* {
    font-family: dejavu-sans;
}

.text-main {
    color: #500000;
}

.link-main {
    color: #500000;
}

.link-main:hover {
    color: #3a0000;
}

.link-logo {
    color: #f06800;
}

.link-logo:hover {
    color: #db5f00;
}

.text-logo {
    color: #f06800;
}

.bg-main {
    background-color: #500000;
}

.ge-heading {
    font-family: nino-mtavruli;
}

.btn-main-outline {
    border-color: #500000;
    color: #500000;
    transition: 250ms;
}

.btn-main {
    background-color: #500000;
    color: white;
    transition: 200ms;
}

.btn-main:hover {
    background-color: #380000;
    color: white !important;
}

.btn-logo {
    background-color: #ff6d00;
    color: white;
    transition: 200ms;
}

.btn-logo:hover {
    background-color: #f06800;
    color: white !important;
}

.btn-main-outline:hover {
    background-color: #500000;
    color: white
}

.btn-main-outline:checked {
    background-color: #500000;
    color: white
}

.btn-check:checked {
    background-color: #500000 !important;
    color: white !important
}

.btn-main-check:checked {
    background-color: #500000 !important;
    color: white !important
}

.glow-primary {
    border-color:  rgba(82,168,236,.8);
    box-shadow: 0 0px 0px rgba(82,168,236,.8) inset, 0 0 8px rgba(82,168,236,.8);
    outline: 0 none;
}

.border-main {
    border-color: #500000 !important;
}
