<h3 class="mt-4 ge-heading text-secondary">კომენტარები<span class="ms-1">&middot;{{totalCommentsNumber}}</span></h3>
<a class="mt-2" *ngIf="totalCommentsNumber > comments.length" href="javascript:;" (click)="loadMoreComments()" class>მეტი კომენტარის ნახვა</a>

<div class="mt-2" *ngFor="let comment of comments">
    <ng-container *ngIf="!hiddenComments.includes(comment)">
        <div class="row gx-2">
            <div class="col-1">
                <img src="assets/img/avatar.jpg" alt="" style="max-width: 100%;height: auto;" class="rounded-circle img-fluid">
            </div>
            <div class="col-9">
                <div>
                    <h5 class="d-inline me-2">{{ comment.author | fullname }}</h5> <small class="text-secondary">{{comment.createdAt}}</small>
                    <p *ngIf="!isEditable(comment)" class="mb-0">{{comment.text}}</p>
                    <form *ngIf="isEditable(comment)" onsubmit="return false" [formGroup]="editCommentForm" (ngSubmit)="updateComment()">
                        <div class="input-group mb-3">
                            <textarea required formControlName="newText" class="form-control" style="resize: none;" rows="2" [ngModel]="comment.text"></textarea>
                            <button type="submit" [disabled]="!editCommentForm.valid || !canUpdate()" class="btn btn-secondary"><fa-icon [icon]="editIcon"></fa-icon></button>
                        </div>
                    </form>
                </div>
                <div class="btn-group-sm" role="group">
                    <button class="btn btn-sm btn-link mb-2 text-secondary px-0 me-2" (click)="showReplyForm(comment)">პასუხი</button>
                    <button class="btn btn-sm btn-link mb-2 text-secondary px-0" *ngIf="comment.responseNumber > comment.responsesPreview.length" (click)="getMoreReplies(comment)">მეტი პასუხი</button>
                </div>
                <div class="mb-2" *ngIf="selectedCommentForReply?.id === comment.id">
                    <form onsubmit="return false" [formGroup]="replyForm" (ngSubmit)="replyToComment()">
                        <div class="row g-1">
                            <div class="col-sm-10 form-group">
                                <textarea required formControlName="replyText" class="form-control" style="resize: none;" rows="1" placeholder="თქვენი პასუხი..."></textarea>
                            </div>
                        
                            <div class="col-sm-2 form-group">
                                <button type="submit" [disabled]="!replyForm.valid || addingComment" class="btn btn-primary" style="height: 100%; width: 100%;">
                                    <fa-icon [icon]="sendIcon"></fa-icon>
                                    <span *ngIf="addingComment" class="spinner-border spinner-border-sm" role="status"></span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-1">
                <app-rating 
                    [size]="ratingSize"
                    [contentId]="comment.id"
                    [ratingValue]="comment.rating"
                    [service]="commentsService"
                    [userVoteDirection]="comment.userVoteDirection"
                ></app-rating>
            </div>
            <div class="col-1">
                <app-content-control-menu
                    *ngIf = "!isEditable(comment)"
                    [placement] = "controlMenuPlacement"
                    [contentType] = "commentContentType"
                    [contentId] = "comment.id"
                    [contentCreatorId] = "comment.author.id"
                    [contentIsActive] = "comment.isActive"
                    [service] = "commentsService"
                    (editContentEvent) = "enterEditMode(comment)"
                    (contentRemoved) = "hide(comment)"
                ></app-content-control-menu>
                <button *ngIf = "isEditable(comment)" class="btn btn-sm btn-light m-1" (click)="exitEditMode()">
                    <fa-icon [icon]="closeIcon"></fa-icon>
                </button>
            </div>
        </div>
    
        <app-comment-replies [comment] = "comment" [level]="1"></app-comment-replies>
    </ng-container>
</div>

<hr>

<form class="mt-2" onsubmit="return false" [formGroup]="addCommentForm" (ngSubmit)="addCommentToContent()">
    <div class="row g-1">
        <div class="col-sm-10 form-group">
            <textarea required formControlName="newCommentText" class="form-control" style="resize: none;" rows="2" placeholder="დაწერეთ კომენტარი"></textarea>
        </div>
    
        <div class="col-sm-2 form-group">
            <button type="submit" [disabled]="!addCommentForm.valid || addingComment" class="btn btn-primary" style="height: 100%; width: 100%;">
                <fa-icon *ngIf="!addingComment" [icon]="sendIcon"></fa-icon>
                <span *ngIf="addingComment" class="spinner-border spinner-border-sm" role="status"></span>
            </button>
        </div>
    </div>
</form>