<h3>Comments:</h3>
<a href="javascript:;" (click)="loadMoreComments()" class>View all {{totalCommentsNumber}} comments</a>

<div class="mt-2" *ngFor="let comment of comments">

    <div class="row gx-2">
        <div class="col-1">
            <img src="assets/img/avatar.jpg" alt="" style="max-width: 100%;height: auto;" class="rounded-circle img-fluid">
        </div>
        <div class="col-9">
            <div>
                <h5 class="d-inline me-2">{{ comment.author | fullname }}</h5> <small>{{comment.createdAt.toJSON()}}</small>
                <p class="mb-0">{{comment.text}}</p>
            </div>
            <div class="btn-group-sm" role="group">
                <button class="btn btn-sm btn-link mb-2 text-secondary" (click)="showReplyForm(comment)">Reply</button>
                <button class="btn btn-sm btn-link mb-2 text-secondary" *ngIf="comment.responseNumber > comment.responsesPreview.length" (click)="getMoreReplies(comment)">Show More Replies</button>
            </div>
            <div class="mb-2" *ngIf="selectedCommentForReply?.id === comment.id">
                <form onsubmit="return false" [formGroup]="replyForm" (ngSubmit)="replyToComment()">
                    <div class="row g-1">
                        <div class="col-sm-10 form-group">
                            <textarea required formControlName="replyText" class="form-control" style="resize: none;" rows="1" placeholder="Reply..."></textarea>
                        </div>
                    
                        <div class="col-sm-2 form-group">
                            <button type="submit" [disabled]="!replyForm.valid" class="btn btn-primary" style="height: 100%; width: 100%;">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-1">
            <app-rating 
                [size]="ratingSize"
                [contentId]="comment.id"
                [ratingValue]="comment.rating.totalRating"
                [service]="commentsService"
                [userVoteDirection]="comment.userVoteDirection"
            ></app-rating>
        </div>
        <div class="col-1">
            <app-content-control-menu
                [placement] = "controlMenuPlacement"
                [contentType] = "commentContentType"
                [contentId] = "comment.id"
                [contentCreatorId] = "comment.author.id"
                [contentIsActive] = "comment.isActive"
                [service] = "commentsService"
            ></app-content-control-menu>
        </div>
    </div>

    <div class="row gx-2" *ngFor="let response of comment.responsesPreview">
        <div class="col-1 border-end border-dark" ></div>
        <div class="col-11">
            <div class="row gx-2">
                <div class="col-1">
                    <img src="assets/img/avatar.jpg" alt="" style="max-width: 100%;height: auto;" class="rounded-circle img-fluid">
                </div>
                <div class="col-9">
                    <div class="">
                        <h5 class="d-inline me-2">{{ response.author | fullname }}</h5> <small>{{response.createdAt.toJSON()}}</small>
                        <p class="mb-0">
                            <small><span class="badge rounded-pill bg-secondary"><u>@{{comment.author | fullname}}</u></span></small> 
                            {{response.text}}
                        </p>
                    </div>
                    <div class="btn-group-sm" role="group">
                        <button class="btn btn-sm btn-link mb-2 text-secondary" (click)="showReplyForm(response)">Reply</button>
                        <button class="btn btn-sm btn-link mb-2 text-secondary" (click)="getMoreReplies(response)">Show More Replies</button>
                    </div>
                    <div class="mb-2" *ngIf="selectedCommentForReply?.id === response.id">
                        <form onsubmit="return false" [formGroup]="replyForm" (ngSubmit)="replyToComment()">
                            <div class="row g-1">
                                <div class="col-sm-10 form-group">
                                    <textarea required formControlName="replyText" class="form-control" style="resize: none;" rows="1" placeholder="Reply..."></textarea>
                                </div>
                            
                                <div class="col-sm-2 form-group">
                                    <button type="submit" [disabled]="!replyForm.valid" class="btn btn-primary" style="height: 100%; width: 100%;">Send</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-1 text-end">
                    <app-rating 
                        [size]="ratingSize"
                        [contentId]="response.id"
                        [ratingValue]="response.rating.totalRating"
                        [service]="commentsService"
                        [userVoteDirection]="response.userVoteDirection"
                    ></app-rating>
                </div>
            </div>
        </div>
    </div>

</div>

<hr>

<form class="mt-2" onsubmit="return false" [formGroup]="addCommentForm" (ngSubmit)="addCommentToContent()">
    <div class="row g-1">
        <div class="col-sm-10 form-group">
            <textarea required formControlName="newCommentText" class="form-control" style="resize: none;" rows="2" placeholder="Add Comment..."></textarea>
        </div>
    
        <div class="col-sm-2 form-group">
            <button type="submit" [disabled]="!addCommentForm.valid" class="btn btn-primary" style="height: 100%; width: 100%;">Send</button>
        </div>
    </div>
</form>